<div class="flex flex-col flex-auto min-w-0 bg-card">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">TMS</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="fuse-horizontal-navigation-item-icon" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Reportes</a>
        </div>
      </div>
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
        Pendiente de entrega
        </h2>
      </div>
    </div>
  </div>

  <div class="main-content container mx-auto p-6">
    <div class="card p-6 shadow-md rounded-lg bg-white dark:bg-gray-800">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <div class="flex flex-col">
          <label class="font-semibold mb-1">Cliente:</label>
          <p-dropdown name="clientes" [options]="clientes" [(ngModel)]="model.idcliente"
                      scrollHeight="30vh" class="w-full"
                      [virtualScroll]="true" itemSize="10"
                      [resetFilterOnHide]="false" [hideTransitionOptions]="'0ms'"
                      [showTransitionOptions]="'0ms'" filter="trues">
            <ng-template let-item pTemplate="selectedItem">
              <span>{{item.label}}</span>
            </ng-template>
          </p-dropdown>
        </div>

        <div class="flex flex-col">
          <label class="font-semibold mb-1">Estación:</label>
          <p-dropdown name="estaciones" [options]="estaciones" [(ngModel)]="model.idestacionorigen"
                      class="w-full input-form-field" [resetFilterOnHide]="false"
                      [hideTransitionOptions]="'0ms'" [showTransitionOptions]="'0ms'"
                      placeholder="Seleccione una estación" filter="false">
            <ng-template let-item pTemplate="selectedItem">
              <span>{{item.label}}</span>
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="flex mt-6">
        <button class="btn btn-primary flex items-center px-4 py-2 text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700"
                pButton iconPos="left" label="Buscar" icon="fa fa-search" (click)="buscar()">
        </button>
      </div>
    </div>
  </div>

</div>
