<div class="flex flex-col flex-auto min-w-0 bg-card">
  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-2 sm:py-8 sm:px-10 border-b border-gray-200 bg-white shadow-sm">
    <div class="flex-1 min-w-0">
      <div class="flex flex-wrap items-center font-medium text-sm text-gray-600">
        <div>
          <a class="whitespace-nowrap text-gray-700 hover:text-gray-900">TMS</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="fuse-horizontal-navigation-item-icon text-gray-400" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <span class="ml-1 text-gray-500">Reporte</span>
        </div>
      </div>
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-semibold tracking-tight leading-7 sm:leading-10 truncate text-gray-900">
          Producción vs Facturación
        </h2>
      </div>
    </div>
  </div>

  <!-- Contenido Principal -->
  <div class="main-content container mx-auto p-6">
    <!-- Filtros -->
    <div class="card p-6 shadow-md rounded-lg bg-white dark:bg-gray-800">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <div class="flex flex-col">
          <label class="font-semibold mb-1">Año</label>
          <p-dropdown
            [options]="anios"
            [(ngModel)]="model.anio"
            placeholder="Seleccione un año"
            class="w-full input-form-field"
            [resetFilterOnHide]="false"
            appendTo="body">
            <ng-template let-item pTemplate="selectedItem">
              <span>{{ item.label }}</span>
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="flex flex-wrap gap-2 mt-6">
        <button
          pButton
          type="button"
          icon="pi pi-file-excel"
          label="Generar Reporte"
          iconPos="left"
          (click)="generarReporte()"
          class="px-4 py-2 text-sm font-medium text-white bg-green-600 hover:bg-green-500 rounded-md shadow-sm">
        </button>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>

