/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
body  {
    display: flex;
    flex-direction: column;

    top:0; 
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    width: 100%;
    visibility: visible;
}

/* Ajuste general del calendario emergente */
.p-datepicker {
  font-size: 12px !important;
  min-width: 250px !important; /* no uses % */
  max-width: 350px;
}

/* Reduce tamaño de los días */
.p-datepicker table td {
  font-size: 12px !important;
  padding: 2px !important;
  height: 2rem !important;
  width: 2rem !important;
}

/* Botones de hora abajo */
.p-timepicker {
  font-size: 12px !important;
}

/* Input general más compacto */
.calendar-sm .p-inputtext {
  font-size: 13px !important;
  padding: 6px 8px !important;
  height: 32px !important;
}

/* Íconos más pequeños si usas showIcon */
.p-inputtext + .p-datepicker-trigger {
  font-size: 14px;
  height: 30px;
  width: 30px;
}




input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.675rem;
}
// .p-datatable {
//   border: 1px solid #ece6e6;
// }
.p-datatable .p-datatable-thead > tr > th {
    background-color: #1340a0;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}



.p-datatable-tbody > tr:not(.p-highlight) > td {
  background-color: #ffffff;
  color: #333;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  border-bottom: 2px solid #cccccc53;

}
 .p-datatable-tbody > tr.p-highlight > td {
  padding: 2px;
  font-size: 12px;
  text-align: center;
  border-bottom: 2px solid #cccccc53;
}

.p-button {
  font-size: 12px;
    padding: 0.55625rem 0.62375rem !important;
}
    
