/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
body  {
    display: flex;
    flex-direction: column;

    top:0; 
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    width: 100%;
    visibility: visible;
}



input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: red;
}

.error {
  color: red;
  font-size: 0.675rem;
}
// .p-datatable {
//   border: 1px solid #ece6e6;
// }
.p-datatable .p-datatable-thead > tr > th {
    background-color: #1340a0;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}



.p-datatable-tbody > tr:not(.p-highlight) > td {
  background-color: #ffffff;
  color: #333;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  border-bottom: 2px solid #cccccc53;

}
 .p-datatable-tbody > tr.p-highlight > td {
  padding: 2px;
  font-size: 12px;
  text-align: center;
  border-bottom: 2px solid #cccccc53;
}

.p-button {
  font-size: 12px;
    padding: 0.55625rem 0.62375rem !important;
}
    
