
<div class="flex flex-col flex-auto min-w-0 bg-card">
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">TMS</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="fuse-horizontal-navigation-item-icon" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Planeamiento</a>
        </div>
      </div>
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"> Planificación por Provincias </h2>
      </div>
    </div>
  </div>


  <p-toast />

<!-- Contenido Principal -->
<div class="main-content container-fluid p-6">
      <!-- Tabla de Provincias -->
      <div class="card w-full mb-6">
        <div class="card-body">
          <div class="card w-full">
            <div class="card-body grid grid-cols-1 md:grid-cols-2 gap-4">
              <!-- Tabla Provincias -->
              <div>
                <p-table [columns]="cols" [value]="ordenes2" dataKey="idprovincia"
                  [rowsPerPageOptions]="[20, 40, 60, 120]" [rows]="20" selectionMode="multiple"
                  [(selection)]="selectedDepartaments"  [responsive]="true"
                  class="w-full">
                  
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                      <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                    </colgroup>
                  </ng-template>

                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" class="text-center">
                        {{ col.header }}
                      </th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-rowData>
                    <tr [pSelectableRow]="rowData">
                      <td class="text-center">{{ rowData.provincia }}</td>
                      <td class="text-center">{{ rowData.cantidad }}</td>
                      <td class="text-center">{{ rowData.bulto }}</td>
                      <td class="text-center">{{ rowData.peso | number:'1.0-2' }}</td>
                      <td class="text-center">{{ rowData.volumen | number:'1.0-2' }}</td>
                      <td class="text-center">S/. {{ rowData.subtotal | number:'1.0-2' }}</td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="footer">
                    <tr>
                      <td class="text-right">Totales</td>
                      <td class="text-center">{{ otsTotal | number:'1.0-0' }}</td>
                      <td class="text-center">{{ bultosTotal | number:'1.0-2' }}</td>
                      <td class="text-center">{{ pesoTotal | number:'1.0-2' }}</td>
                      <td></td>
                      <td class="text-center">S/. {{ subtotalTotal | number:'1.0-2' }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>

              <!-- Botones de Acción -->
              <div class="flex flex-col gap-4">
                <button class="btn-warning btn w-full" pButton label="Crear Despacho" icon="pi pi-file"
                  iconPos="left" (click)="crearcarga()"></button>
                <button class="btn-secondary btn w-full" pButton label="Agregar Provincia a despacho" icon="pi pi-plus"
                  iconPos="left" (click)="agregaracarga()"></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tabla de Despachos -->
      <div class="col-span-12 mb-6">
        <div class="card border-primary">
          <div class="card-header">
            <b>Despachos generados</b>
          </div>
          <div class="card-body">
            <p-table [columns]="cols3" [value]="despachos" dataKey="idcarga" selectionMode="single" 
            [rowsPerPageOptions]="[20, 40, 60, 120]" [rows]="10" [paginator]="true" 
            (onRowSelect)="ver($event)"  [responsive]="true" class="w-full">

              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" class="text-center">
                    {{ col.header }}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
                  <td class="bg-green-600 text-white text-center">{{ rowData.numcarga }}</td>
                  <td class="text-center">{{ rowData.tipounidad }}</td>
                  <td class="text-center">{{ rowData.planificador }}</td>
                  <td class="bg-yellow-500 text-black text-center">{{ rowData.estado }}</td>
                  <td class="text-center">{{ rowData.fecharegistro | date: 'dd/MM/yyyy' }}</td>
                  <td class="text-center">{{ rowData.peso | number:'1.0-2' }}</td>
                  <td class="text-center">{{ rowData.vol | number:'1.0-2' }}</td>
                  <td class="text-center">S/. {{ rowData.subtotal | number:'1.0-2' }}</td>
                  <td class="text-left">
                    <button class="btn-danger btn-xs" pButton icon="pi pi-trash" title="Eliminar" (click)="eliminarDespacho(rowData.idcarga)"></button>
                    <button class="btn-primary btn-xs" pButton icon="pi pi-check" title="Confirmar" (click)="generar(rowData.idcarga)"></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>

      <!-- Detalle de Despacho -->
      <div class="col-span-12">
        <div class="card border-primary">
          <div class="border border-primary rounded-lg">
            <div class="bg-primary text-white p-4 rounded-t-lg">
                <div class="grid grid-cols-3 gap-4 p-4 bg-gray-100 rounded-lg shadow">
                    <div class="font-semibold text-gray-700">
                      <b>Detalle de despachos de {{carga11detalle}}</b>
                    </div>
                </div> 
              </div> 
          
          </div>
          <div class="card-body">
            <div class="flex gap-4 mb-4">
              <button class="btn-danger btn" pButton label="Vincular Tipo Operación" icon="pi pi-file"
                iconPos="left" (click)="asignarTipoOperacion()"></button>
              <button class="btn-primary btn" pButton label="Quitar seleccionados" icon="pi pi-arrow-up"
                iconPos="left" (click)="quitarSeleccionados()"></button>
              <button class="btn-primary btn" pButton label="Quitar NO seleccionados" icon="pi pi-arrow-up"
                iconPos="left" (click)="quitarNoSeleccionados()"></button>
            </div>

            <p-table [columns]="cols2" [value]="ordenes11" dataKey="idordentrabajo" selectionMode="multiple" 
            [(selection)]="selectedOTs"
          
              [rowsPerPageOptions]="[120, 240, 480, 1200]" [rows]="120"  [responsive]="true"
              >

              <ng-template pTemplate="caption">
                <div class="flex">
                  <span class="p-input-icon-left ml-auto">
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                  </span>
                </div>
              </ng-template>

              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                </colgroup>
              </ng-template>

              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field" class="text-center">
                    {{ col.header }}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
  
                  <td class="text-center">{{ rowData.numcp }}</td>
                  <td class="text-center">{{ rowData.bulto }}</td>
                  <td class="text-center">{{ rowData.fecharegistro | date: 'dd/MM/yyyy' }}</td>
                  <td class="text-center">{{ rowData.peso | number:'1.0-2' }}</td>
                  <td class="text-center">{{ rowData.subtotal | number:'1.0-2' }}</td>
                  <td class="text-center">{{ rowData.destino }}</td>
                  <td class="text-center">{{ rowData.razonsocial }}</td>
                  <td class="text-center">{{ rowData.tipooperacion }}</td>
                  <td class="text-center">
                    <p-button  icon="pi pi-trash" serverity="danger"      iconPos="left"  (click)="desasignarOT(rowData.idordentrabajo)" ></p-button>
                </td>
                  

                  
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>

</div>
<p-confirmDialog  header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>