<div class="flex flex-col flex-auto min-w-0">
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">TMS</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="fuse-horizontal-navigation-item-icon" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Tráfico</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="fuse-horizontal-navigation-item-icon" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500" [routerLink]="['/trafico/integrado']">Ordén de Transporte Remoto</a>
        </div>
      </div>
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"> Editar OTR  </h2>
      </div>
    </div>
  </div>

  <div class="flex flex-col min-w-0 w-full">


    

    <form  [formGroup]="form"  (ngSubmit)="registrar()" >

      <p-panel header="Datos generales" class="w-full mb-3 custom-header-panel">
  
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

                    <div class="field flex flex-col">
                      <label  for="clientes">Cliente (*) </label>
                      <p-dropdown name="clientes"
                        [virtualScroll]="true" itemSize="30"
                        [options]="clientes"  
                        formControlName="idcliente"
                        [showClear]="true" class="input-form-field"
                          placeholder="Seleccione un cliente"  (onChange)="cargarDestinatario()"
                        [style]="{'width':'100%'}" [resetFilterOnHide]="false"
                        [hideTransitionOptions]="'0ms'" required
                        [filter]="true"
                        [showTransitionOptions]="'0ms'">
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:left;">{{item.label}}</span>
                            </ng-template>
                      </p-dropdown>
                      <div *ngIf="form.get('clientes')?.invalid && form.get('clientes')?.touched" class="alert-danger">
                        <div *ngIf="form.get('clientes')?.errors?.required">Requiere seleccionar un cliente.</div>
                      </div>
                    </div>
                    <div class="field flex flex-col">
                    <label  for="clientes">Remitente (*) 
                        <a href="#" class="text-sm text-blue-500 underline ml-2" (click)="mismoremitente = false">
                          Elegir otro
                        </a> 
                    </label>
                    <p-dropdown name="remitente"
                    [virtualScroll]="true" itemSize="30"
                      [options]="clientes"
                      formControlName="idremitente"
                      [disabled]="mismoremitente"
                      [showClear]="true" class="input-form-field"
                        placeholder="Seleccione un remitente"
                      [style]="{'width':'100%'}" [resetFilterOnHide]="false"
                      [hideTransitionOptions]="'0ms'" required
                      [showTransitionOptions]="'0ms'"
                      [filter]="true">
                          <ng-template let-item pTemplate="selectedItem">
                              <span style="vertical-align:left;">{{item.label}}</span>
                          </ng-template>
                    </p-dropdown>
                    <div *ngIf="form.get('remitente')?.invalid && form.get('remitente')?.touched" class="alert-danger">
                      <div *ngIf="form.get('remitente')?.errors?.required">Requiere seleccionar un remitente.</div>
                    </div>
                    </div>

                    


                    <div class="field flex flex-col">
                    <label>Destinatario (*) :
                      <a href="#" class="text-sm text-blue-500 underline ml-2" (click)="mismodestinatario = false">
                        Elegir otro
                      </a> 

                    </label>
                    <p-dropdown name="destinatario"
                      [virtualScroll]="true" itemSize="30"  [disabled]="mismodestinatario"
                      [options]="clientes" formControlName="iddestinatario"
                      [showClear]="true" class="input-form-field"
                      placeholder="Seleccione un destinatario"
                      [style]="{'width':'100%'}" [resetFilterOnHide]="false"
                      [hideTransitionOptions]="'0ms'" required
                      [showTransitionOptions]="'0ms'"
                      [filter]="true">
                      <ng-template let-item pTemplate="selectedItem">
                      <span style="vertical-align:left;">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                    <div *ngIf="form.get('destinatario')?.invalid && form.get('destinatario')?.touched" class="alert-danger">
                      <div *ngIf="form.get('destinatario')?.errors?.required">Requiere seleccionar un destinatario.</div>
                    </div>
                    </div> 

                    <div class="field flex flex-col">
                    <label>Origen (*) :</label>

                    <p-dropdown name="origen"
                        [options]="ubigeos"    formControlName="idorigen"
                        scrollHeight="30vh"  class="input-form-field"
                        [virtualScroll]="true" itemSize="70"
                        [style]="{'width':'100%'}" required (onChange)="cargarFormula()"
                        [resetFilterOnHide]="false"
                        [hideTransitionOptions]="'0ms'"
                        [showTransitionOptions]="'0ms'"
                        [filter]="true">
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:left;">{{item.label}}</span>
                            </ng-template>
                      </p-dropdown>
                      <div *ngIf="form.get('origen')?.invalid && form.get('origen')?.touched" class="alert-danger">
                        <div *ngIf="form.get('origen')?.errors?.required">Requiere seleccionar un ubigeo.</div>
                      </div>


                    </div>

                    <div class="field flex flex-col col-span-2">
                    <label for="puntopartida">Dirección (*) </label>
                      <input pInputText  minlength="5" maxlength="150"  required class="form-control col-md-12"  autocomplete="off" 
                      formControlName="puntopartida" name="puntopartida"  type="text">
                      <div *ngIf="form.get('puntopartida')?.invalid && form.get('puntopartida')?.touched" class="alert-danger">
                        <div *ngIf="form.get('puntopartida')?.errors?.required">Requiere ingresar el punto de partida.</div>
                        <div *ngIf="form.get('puntopartida')?.errors?.minlength">Mínimo 5 caracteres.</div>
                        <div *ngIf="form.get('puntopartida')?.errors?.maxlength">Máximo 150 caracteres.</div>
                      </div>
                    </div>

            

                    <div class="field flex flex-col">
                    <label>Destino :</label>

                    <p-dropdown name="destino"
                      [options]="ubigeos"  formControlName="iddestino"
                      scrollHeight="30vh"  class="input-form-field"
                      [virtualScroll]="true" itemSize="70"
                      [style]="{'width':'100%'}" (onChange)="cargarFormula()"
                      [resetFilterOnHide]="false"
                      [hideTransitionOptions]="'0ms'"

                      [showTransitionOptions]="'0ms'" required
                      [filter]="true">
                      <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:left;">{{item.label}}</span>
                      </ng-template>
                    </p-dropdown>
                    <div *ngIf="form.get('destino')?.invalid && form.get('destino')?.touched" class="alert-danger">
                      <div *ngIf="form.get('destino')?.errors?.required">Requiere seleccionar un destino.</div>
                    </div>

                    </div>


                    <div class="field flex flex-col col-span-2">
                    <label for="puntollegada">Dirección </label>
                    <input pInputText  minlength="5" maxlength="150"  required class="form-control col-md-12"  autocomplete="off" 
                    formControlName="puntollegada" name="puntollegada"  type="text">
                    <div *ngIf="form.get('puntollegada')?.invalid && form.get('puntollegada')?.touched" class="alert-danger">
                      <div *ngIf="form.get('puntollegada')?.errors?.required">Requiere ingresar el punto de llegada.</div>
                      <div *ngIf="form.get('puntollegada')?.errors?.minlength">Mínimo 5 caracteres.</div>
                      <div *ngIf="form.get('puntollegada')?.errors?.maxlength">Máximo 150 caracteres.</div>
                    </div>

                    </div>
          </div>
  
  
      </p-panel>
  
      <p-panel header="Datos del portador" class="w-full mb-3 custom-header-panel">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    
            <div class="field flex flex-col">
                <label>Placa de recojo :</label>
                <p-dropdown name="placa"
                    [options]="vehiculos" formControlName="idvehiculo"
                    scrollHeight="30vh" class="input-form-field"
                    [virtualScroll]="true" itemSize="70"
                    [style]="{'width':'100%'}" required
                    [resetFilterOnHide]="false"
                    [hideTransitionOptions]="'0ms'"
                    [showTransitionOptions]="'0ms'"
                    [filter]="true">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:left;">{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="form.get('idvehiculo')?.invalid && form.get('idvehiculo')?.touched" class="alert-danger">
                    <div *ngIf="form.get('idvehiculo')?.errors?.required">Requiere seleccionar una placa.</div>
                </div>
            </div>
    
            <div class="field flex flex-col col-span-2">
                <label>Conductor de recojo :</label>
                <p-dropdown name="conductor"
                    [options]="choferes" formControlName="idchofer"
                    scrollHeight="30vh" class="input-form-field"
                    [virtualScroll]="true" itemSize="70"
                    [style]="{'width':'100%'}" required
                    [resetFilterOnHide]="false"
                    [hideTransitionOptions]="'0ms'"
                    [showTransitionOptions]="'0ms'"
                    [filter]="true">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:left;">{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="form.get('idchofer')?.invalid && form.get('idchofer')?.touched" class="alert-danger">
                    <div *ngIf="form.get('idchofer')?.errors?.required">Requiere seleccionar un conductor.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>Fecha de recojo :</label>
                <p-calendar name="fecharecojo"
                    formControlName="fecharecojo" required
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="icondisplay" />
                <div *ngIf="form.get('fecharecojo')?.invalid && form.get('fecharecojo')?.touched" class="alert-danger">
                    <div *ngIf="form.get('fecharecojo')?.errors?.required">Requiere seleccionar una fecha de recojo.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>Hora de recojo (*) :</label>
                <p-inputMask formControlName="horarecojo" mask="99:99" required></p-inputMask>
                <div *ngIf="form.get('horarecojo')?.invalid && form.get('horarecojo')?.touched" class="alert-danger">
                    <div *ngIf="form.get('horarecojo')?.errors?.required">Requiere ingresar la hora de recojo.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>Guía de recojo (*) :</label>
                <div class="card p-fluid">
                    <p-chips formControlName="guiarecojo" required></p-chips>
                    <div *ngIf="form.get('guiarecojo')?.invalid && (form.get('guiarecojo')?.dirty || form.get('guiarecojo')?.touched)" class="alert-danger">
                        <div *ngIf="form.get('guiarecojo')?.errors?.required">Requiere al menos una guía de recojo.</div>
                    </div>
                </div>
            </div>
    
        </div>
    </p-panel>
    
      <p-panel header="Datos complementarios" class="w-full mb-3 custom-header-panel">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
    
            <div class="field flex flex-col">
                <label for="bulto">Cant. Bultos</label>
                <p-inputNumber name="bulto" inputId="integeronly" [useGrouping]="false" [min]="0" [max]="5000" 
                               formControlName="bulto" required></p-inputNumber>
                <div *ngIf="form.get('bulto')?.invalid && form.get('bulto')?.touched" class="alert-danger">
                    <div *ngIf="form.get('bulto')?.errors?.required">Requiere ingresar la cantidad de bultos.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label for="peso">Peso Kg.</label>
                <p-inputNumber name="peso" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5" 
                               [min]="0" [max]="30000" formControlName="peso" required></p-inputNumber>
                <div *ngIf="form.get('peso')?.invalid && form.get('peso')?.touched" class="alert-danger">
                    <div *ngIf="form.get('peso')?.errors?.required">Requiere ingresar el peso.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label for="volumen">Volumen m3</label>
                <p-inputNumber name="volumen" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5" 
                               [min]="0" [max]="1000" formControlName="volumen" required></p-inputNumber>
                <div *ngIf="form.get('volumen')?.invalid && form.get('volumen')?.touched" class="alert-danger">
                    <div *ngIf="form.get('volumen')?.errors?.required">Requiere ingresar el volumen.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label for="pesovol">Peso Vol</label>
                <p-inputNumber name="pesovol" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5" 
                               [min]="0" [max]="1000" formControlName="pesovol" required></p-inputNumber>
                <div *ngIf="form.get('pesovol')?.invalid && form.get('pesovol')?.touched" class="alert-danger">
                    <div *ngIf="form.get('pesovol')?.errors?.required">Requiere ingresar el peso vol.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>Fórmula :</label>
                <p-dropdown name="formula" [options]="formulas" formControlName="idformula" scrollHeight="30vh" 
                            class="input-form-field" [virtualScroll]="true" itemSize="70" 
                            [style]="{'width':'100%'}" required [resetFilterOnHide]="false" 
                            [hideTransitionOptions]="'0ms'" [showTransitionOptions]="'0ms'" 
                            (onChange)="cargarConcepto()"
                            filter="false">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:left;">{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="form.get('idformula')?.invalid && form.get('idformula')?.touched" class="alert-danger">
                    <div *ngIf="form.get('idformula')?.errors?.required">Requiere seleccionar una fórmula.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>Medio de transporte :</label>
                <p-dropdown name="tipounidad" [options]="tipounidad" formControlName="idtipotransporte" 
                            scrollHeight="30vh" class="input-form-field" [virtualScroll]="true" itemSize="70" 
                            [style]="{'width':'100%'}" required [resetFilterOnHide]="false" 
                            [hideTransitionOptions]="'0ms'" [showTransitionOptions]="'0ms'" 
                            (onChange)="cargarConcepto()"
                            filter="false">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:left;">{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="form.get('idtipotransporte')?.invalid && form.get('idtipotransporte')?.touched" class="alert-danger">
                    <div *ngIf="form.get('idtipotransporte')?.errors?.required">Requiere seleccionar un medio de transporte.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>Concepto de cobro :</label>
                <p-dropdown name="concepto" [options]="conceptos" formControlName="idconceptocobro" 
                            scrollHeight="30vh" class="input-form-field" [virtualScroll]="true" itemSize="70" 
                            [style]="{'width':'100%'}" required [resetFilterOnHide]="false" 
                            [hideTransitionOptions]="'0ms'" [showTransitionOptions]="'0ms'" 
                            filter="false">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:left;">{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="form.get('idconceptocobro')?.invalid && form.get('idconceptocobro')?.touched" class="alert-danger">
                    <div *ngIf="form.get('idconceptocobro')?.errors?.required">Requiere seleccionar un concepto de cobro.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>Mercadería especial :</label>
                <p-dropdown name="mercaderiaEspecial" [options]="mercaderiasEspeciales" 
                            formControlName="idtipomercaderia" scrollHeight="30vh" class="input-form-field" 
                            [virtualScroll]="true" itemSize="70" [style]="{'width':'100%'}" required 
                            [resetFilterOnHide]="false" [hideTransitionOptions]="'0ms'" [showTransitionOptions]="'0ms'" 
                            filter="false">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:left;">{{item.label}}</span>
                    </ng-template>
                </p-dropdown>
                <div *ngIf="form.get('idtipomercaderia')?.invalid && form.get('idtipomercaderia')?.touched" class="alert-danger">
                    <div *ngIf="form.get('idtipomercaderia')?.errors?.required">Requiere seleccionar una mercadería especial.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>Referencia :</label>
                <input type="text" name="docgeneral" pInputText formControlName="docgeneral" required />
                <div *ngIf="form.get('docgeneral')?.invalid && form.get('docgeneral')?.touched" class="alert-danger">
                    <div *ngIf="form.get('docgeneral')?.errors?.required">Requiere ingresar una referencia.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>Descripción de Mercadería :</label>
                <input type="text" name="descripciongeneral" pInputText formControlName="descripciongeneral" required />
                <div *ngIf="form.get('descripciongeneral')?.invalid && form.get('descripciongeneral')?.touched" class="alert-danger">
                    <div *ngIf="form.get('descripciongeneral')?.errors?.required">Requiere ingresar una descripción de mercadería.</div>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>GRRs masivas :</label>
                <div class="card p-fluid">
                    <p-button severity="warning" label="Generar..." (onClick)="grr()"></p-button>
                </div>
            </div>
    
            <div class="field flex flex-col">
                <label>GRR (Guías de remitente) :</label>
                <div class="card p-fluid">
                    <p-chips name="guiasremitente" [(ngModel)]="guias" formControlName="guiasremitente" required />
                    <div *ngIf="form.get('guiasremitente')?.invalid && form.get('guiasremitente')?.touched" class="alert-danger">
                        <div *ngIf="form.get('guiasremitente')?.errors?.required">Requiere al menos una guía de remitente.</div>
                    </div>
                </div>
            </div>
    
        </div>
    </p-panel>
    
     
        <p-panel header="Valorizado" class="w-full mb-3 custom-header-panel">
  
  
  
  
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  
  
             
  <p-button label="Refrescar" (onClick)="calcular()" > </p-button>
                  
  
            <div class="field flex flex-col">
                    
              <div class="mb-4">
                <div class="w-1/2 p-4 bg-gray-200 rounded-lg shadow-lg text-left">
                    <label for="precio" class="block text-lg font-semibold text-gray-700 mb-2">Subtotal</label>
                    <div class="text-5xl font-bold text-green-600">
                        S/. {{ model.precio }}
                    </div>
                </div>
            </div>
            
            
  
            </div>
  
                </div>
                  <div class="row pt-2 pt-sm-5 mt-1">
                    <div class="col-sm-6 pl-0">
                      <p class="text-right">
                        <p-button [disabled]="!form.valid"  class="btn btn-space btn-primary" type="submit">Editar</p-button>
                        <p-button  [routerLink]="['/seguimiento/ordenrecojo']" routerLinkActive="router-link-active"  class="btn btn-space btn-secondary">Cancel</p-button>
                      </p>
                    </div>
                  </div>
  
  
        </p-panel>
    </form> 


</div>

</div>

<p-dialog header="Generador Guías de Remisión" [modal]="true" [(visible)]="dialogGrr" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Generación correlativa.</span>
  <div class="flex align-items-center gap-3 mb-3">
      <label for="cantidad" class="font-semibold w-6rem">Cantidad</label>
      <p-inputNumber  name="cantidad" [(ngModel)]="model.cantidadguias" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
      <label for="grrinicial" class="font-semibold w-6rem">GRR Inicial</label>
      <input pInputText name="grrinicial" [(ngModel)]="model.guiaInicial" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-content-end gap-2">
       <p-button label="Cerrar" severity="secondary" (onClick)="dialogGrr= false" />
      <p-button label="Generar" (onClick)="generarGrr()"   /> 
  </div>
</p-dialog>

<p-dialog header="Generador Etiquetas" [modal]="true" [(visible)]="dialogEtiqueta" [style]="{ width: '25rem' }">
  <span class="p-text-secondary block mb-5">Generación de Etiquetas</span>
  <div class="flex align-items-center gap-3 mb-3">
      <label for="Tipo" class="font-semibold w-6rem">Cantidad</label>
      <p-dropdown 
      name="tipo"
      [options]="tipos" 
      [(ngModel)]="model.idtipoetiqueta" 
      placeholder="Selecciona un tipo">
    </p-dropdown>
  </div>
  <div class="flex align-items-center gap-3 mb-5">
      <label for="grrinicial" class="font-semibold w-6rem">Cantidad</label>
      <p-inputNumber name="cantidadetiqueta" [(ngModel)]="model.cantidadetiqueta" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-content-end gap-2">
       <p-button label="Cerrar" severity="secondary" (onClick)="dialogGrr= false" />
      <p-button label="Agregar" (onClick)="agregaretiqueta()"   /> 
  </div>
</p-dialog>

<p-confirmDialog />


<p-toast />