<div class="flex flex-col flex-auto min-w-0">
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500">TMS</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="fuse-horizontal-navigation-item-icon" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">Tráfico</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="fuse-horizontal-navigation-item-icon" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500" [routerLink]="['/trafico/integrado']">Módulo Integrado</a>
        </div>
      </div>
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"> Vista por Proveedor de reparto  </h2>
      </div>
    </div>
  </div>
  <div class="bg-primary text-white p-4 rounded-t-lg">
    <div class="grid grid-cols-3 gap-4 p-4 bg-gray-100 rounded-lg shadow">
    <h3 class="text-lg text-gray-700 uppercase">Repartidor: {{ repartidor.nombre }}</h3>
    <div class="flex items-center space-x-6 text-base text-gray-700 uppercase">
      <span>Dirección: {{ repartidor.direccion }}</span>
      <!-- <span>Teléfono: {{ repartidor.telefono }}</span> -->
      <span>Provincia: {{ repartidor.provincia }}</span>
    </div>
  </div>
</div>
  


<p-tabView>

  <p-tabPanel header="Pendiente de recepción">

    <div class="row mb-2">
      <button   class='btn-danger btn mr-2' pButton iconPos="left" label="Actualizar Estado"   (click)="cambiarEstado()"  type="button"></button>
      <!-- <button   class='btn-primary btn mr-2' pButton iconPos="left" label="Reprogramar Arribos"    (click)="reprogramarArribos()"  type="button"></button>
      <button   class='btn-primary btn mr-2' pButton iconPos="left" label="Cambio de Recursos"    (click)="cambiarTipoOperacion()"  type="button"></button> -->
      <button   class='btn-primary btn mr-2' pButton iconPos="left" label="Refrescar"    (click)="reloadDetalles()"  type="button"></button>
    </div>


    <p-table  [columns]="cols4" selectionMode="single"
    [style]="{width:'100%'}"  dataKey="idManifiesto"
    [rowsPerPageOptions]="[50,100,200,400]"
    [(selection)]="selectedManifiesto"
    [value]="despachos1" #dt [paginator]="true"
 
    [rows]="50"  [responsive]="true" >


      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
        </colgroup>
    </ng-template>


      <ng-template pTemplate="header" let-columns>
        <tr>

            <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                {{col.header}}

            </th>
        </tr>
    </ng-template>

  <ng-template pTemplate="body" let-rowData  let-index="rowIndex">
    <tr [pSelectableRow]="rowData">

      <td class="ui-resizable-column" style="background-color: #d15f4a; color: aliceblue; text-align:center;" > {{ rowData.numHojaRuta    }}   </td>
      <td class="ui-resizable-column" style="background-color: #d15f4a; color: aliceblue; text-align:center;" > {{ rowData.numManifiesto    }}   </td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.destino    }}   </td>


      <td class="ui-resizable-column" style="text-align:center;"> {{rowData.placa }}</td>
      <td class="ui-resizable-column" style="text-align:center;"> {{rowData.proveedor  }}</td>
      <td class="ui-resizable-column" style="text-align:center;"> {{rowData.chofer  }}</td>

      <td class="ui-resizable-column" style="text-align:center;"> {{rowData.fechaDespacho  | date: 'dd/MM/yyyy' }}</td>

      <td class="ui-resizable-column" style="text-align:left;">
        <button type='button'  class='btn-danger btn btn-xs' pButton  title='Eliminar' icon="fa fa-search" (click)='verEventos(rowData.idManifiesto);'>  </button>
     </td>
    </tr>
  </ng-template>
  </p-table>


  </p-tabPanel>
  <p-tabPanel header="Pendiente de recojo">

    <div class="row mb-2">
      <button   class='btn-danger btn mr-2' pButton iconPos="left" label="Actualizar Estado"   (click)="cambiarEstadoRecojo()"  type="button"></button>
      <!-- <button   class='btn-primary btn mr-2' pButton iconPos="left" label="Reprogramar Arribos"    (click)="reprogramarArribos()"  type="button"></button>
      <button   class='btn-primary btn mr-2' pButton iconPos="left" label="Cambio de Recursos"    (click)="cambiarTipoOperacion()"  type="button"></button> -->
      <button   class='btn-primary btn mr-2' pButton iconPos="left" label="Refrescar"    (click)="reloadDetalles()"  type="button"></button>
    </div>


        <p-table  [columns]="cols3" selectionMode="single"
        [style]="{width:'100%'}"  dataKey="idmanifiesto"
        [rowsPerPageOptions]="[50,100,200,400]"
        [value]="despachos" #dt [paginator]="true"
        [(selection)]="selectedManifiestoRecojo"
        [rows]="50"  [responsive]="true" >


          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
            </colgroup>
        </ng-template>


          <ng-template pTemplate="header" let-columns>
            <tr>

                <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                    {{col.header}}

                </th>
            </tr>
        </ng-template>

      <ng-template pTemplate="body" let-rowData  let-index="rowIndex">
        <tr [pSelectableRow]="rowData">

          <td class="ui-resizable-column" style="background-color: #d15f4a; color: aliceblue; text-align:center;" > {{ rowData.numHojaRuta    }}   </td>
          <td class="ui-resizable-column" style="background-color: #d15f4a; color: aliceblue; text-align:center;" > {{ rowData.numManifiesto    }}   </td>
          <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.destino    }}   </td>

          <td class="ui-resizable-column" style="text-align:center;"> {{rowData.agencia   }}</td>
          <td class="ui-resizable-column" style="text-align:center;"> {{rowData.remitente   }}</td>
          <td class="ui-resizable-column" style="text-align:center;"> {{rowData.consignadoagencia  }}</td>

          <td class="ui-resizable-column" style="text-align:center;"> {{rowData.fechaDespacho  | date: 'dd/MM/yyyy' }}</td>
          <td class="ui-resizable-column" style="text-align:center;"> {{ rowData.claveagencia   }}</td>
          <td class="ui-resizable-column" style="text-align:center;"> {{ rowData. nroremito   }}</td>
          <td class="ui-resizable-column" style="text-align:center;"> S/. {{ rowData.costoenvio  | number:'1.0-2'  }}</td>

           <td class="ui-resizable-column" style="text-align:left;">
            <p-button  severity="success"  title='Ver' icon="fa fa-search" (click)='verEventos(rowData.idManifiesto);'>  </p-button>
        </td> 
        </tr>
      </ng-template>
      </p-table>


  </p-tabPanel>


  <p-tabPanel header="Ordenes en Reparto">


    <div class="row mb-2">
      <button   class='btn-danger btn mr-2' pButton iconPos="left" label="Actualizar Estado"   (click)="modalEntregarOT()"  type="button"></button>
      <!-- <button   class='btn-secondary btn mr-2' pButton iconPos="left" label="Actualizar ETA"   (click)="modalActualizarETA()"  type="button"></button> -->
    </div>


    <p-table  [columns]="cols2" selectionMode="single"
    [style]="{width:'100%'}"  dataKey="idordentrabajo"
    [rowsPerPageOptions]="[50,100,200,400]"
    [value]="ordenes2" #dt [paginator]="true"
    [(selection)]="SelectedOrdenTransporte"
    [rows]="50"  [responsive]="true" >


      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
        </colgroup>
    </ng-template>


      <ng-template pTemplate="header" let-columns>
        <tr>

            <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                {{col.header}}

            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData  let-index="rowIndex">
    <tr [pSelectableRow]="rowData">
      <td class="ui-resizable-column" style="background-color: #2ba512; color: aliceblue; text-align:center;" > {{ rowData.numcp    }}   </td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.fecharegistro  | date:'dd/MM/yyyy'   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;">  {{rowData.razonsocial   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;">  {{rowData.destinatario   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;"> {{ rowData.fechaentregareparto  | date:'dd/MM/yyyy HH:mm'   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;"> {{rowData.fechaetaentrega  | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td class="ui-resizable-column" style="text-align:center;"> {{ rowData.diferencia_fechas   }}</td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.bulto    }}   </td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.peso    }}   </td>
      <td class="ui-resizable-column" style="background-color: #FFA000; color:black; text-align:center;">  {{rowData.estado   }}   </td>
    </tr>
    </ng-template>
    </p-table>


  </p-tabPanel>

  <p-tabPanel header="Pendiente de recabar cargo">

    <div class="row mb-2">
      <button   class='btn-danger btn mr-2' pButton iconPos="left" label="Actualizar Estado"   (click)="modalEntregarOT()"  type="button"></button>
      <!-- <button   class='btn-secondary btn mr-2' pButton iconPos="left" label="Actualizar ETA"   (click)="modalActualizarETA()"  type="button"></button> -->
    </div>
    <p-table  [columns]="cols2" selectionMode="single"
    [style]="{width:'100%'}"  dataKey="idordentrabajo"
    [rowsPerPageOptions]="[50,100,200,400]"
    [value]="ordenes3" #dt [paginator]="true"
    [(selection)]="SelectedOrdenTransporte"
    [rows]="50"  [responsive]="true" >


      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
        </colgroup>
    </ng-template>


      <ng-template pTemplate="header" let-columns>
        <tr>

            <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                {{col.header}}

            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData  let-index="rowIndex">
    <tr [pSelectableRow]="rowData">
      <td class="ui-resizable-column" style="background-color: #2ba512; color: aliceblue; text-align:center;" > {{ rowData.numcp    }}   </td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.fecharegistro  | date:'dd/MM/yyyy'   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;">  {{rowData.razonsocial   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;">  {{rowData.destinatario   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;"> {{ rowData.fechaentregareparto  | date:'dd/MM/yyyy HH:mm'   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;"> {{rowData.fechaetaentrega  | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td class="ui-resizable-column" style="text-align:center;"> {{ rowData.diferencia_fechas   }}</td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.bulto    }}   </td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.peso    }}   </td>
      <td class="ui-resizable-column" style="background-color: #FFA000; color:black; text-align:center;">  {{rowData.estado   }}   </td>
    </tr>
    </ng-template>
    </p-table>

  </p-tabPanel>

  <p-tabPanel header="Pendiente de envio de cargo">
    <div class="row mb-2">
      <button   class='btn-danger btn mr-2' pButton iconPos="left" label="Actualizar Estado"   (click)="modalEntregarOT()"  type="button"></button>
      <!-- <button   class='btn-secondary btn mr-2' pButton iconPos="left" label="Actualizar ETA"   (click)="modalActualizarETA()"  type="button"></button> -->
    </div>
    
    <p-table  [columns]="cols2" selectionMode="single"
    [style]="{width:'100%'}"  dataKey="idordentrabajo"
    [rowsPerPageOptions]="[50,100,200,400]"
    [value]="ordenes4" #dt [paginator]="true"
    [(selection)]="SelectedOrdenTransporte"
    [rows]="50" [responsive]="true" >


      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
        </colgroup>
    </ng-template>


      <ng-template pTemplate="header" let-columns>
        <tr>

            <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                {{col.header}}

            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData  let-index="rowIndex">
    <tr [pSelectableRow]="rowData">
      <td class="ui-resizable-column" style="background-color: #2ba512; color: aliceblue; text-align:center;" > {{ rowData.numcp    }}   </td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.fecharegistro  | date:'dd/MM/yyyy'   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;">  {{rowData.razonsocial   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;">  {{rowData.destinatario   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;"> {{ rowData.fechaentregareparto  | date:'dd/MM/yyyy HH:mm'   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;"> {{rowData.fechaetaentrega  | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td class="ui-resizable-column" style="text-align:center;"> {{ rowData.diferencia_fechas   }}</td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.bulto    }}   </td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.peso    }}   </td>
      <td class="ui-resizable-column" style="background-color: #FFA000; color:black; text-align:center;">  {{rowData.estado   }}   </td>
    </tr>
    </ng-template>
    </p-table>

  </p-tabPanel>


   <p-tabPanel header="Observadas">
    <div class="row mb-2">
      <button   class='btn-danger btn mr-2' pButton iconPos="left" label="Actualizar Estado"   (click)="modalEntregarOT()"  type="button"></button>
      <!-- <button   class='btn-secondary btn mr-2' pButton iconPos="left" label="Actualizar ETA"   (click)="modalActualizarETA()"  type="button"></button> -->
    </div>
    
    <p-table  [columns]="cols2" selectionMode="single"
    [style]="{width:'100%'}"  dataKey="idordentrabajo"
    [rowsPerPageOptions]="[50,100,200,400]"
    [value]="ordenes5" #dt [paginator]="true"
    [(selection)]="SelectedOrdenTransporte"
    [rows]="50" [responsive]="true" >


      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
        </colgroup>
    </ng-template>


      <ng-template pTemplate="header" let-columns>
        <tr>

            <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                {{col.header}}

            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData  let-index="rowIndex">
    <tr [pSelectableRow]="rowData">
      <td class="ui-resizable-column" style="background-color: #2ba512; color: aliceblue; text-align:center;" > {{ rowData.numcp    }}   </td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.fecharegistro  | date:'dd/MM/yyyy'   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;">  {{rowData.razonsocial   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;">  {{rowData.destinatario   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;"> {{ rowData.fechaentregareparto  | date:'dd/MM/yyyy HH:mm'   }}   </td>
      <td class="ui-resizable-column" style="text-align:center;"> {{rowData.fechaetaentrega  | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td class="ui-resizable-column" style="text-align:center;"> {{ rowData.diferencia_fechas   }}</td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.bulto    }}   </td>
      <td class="ui-resizable-column" style="text-align:center;" > {{ rowData.peso    }}   </td>
      <td class="ui-resizable-column" style="background-color: #FFA000; color:black; text-align:center;">  {{rowData.tipoentrega   }}   </td>
    </tr>
    </ng-template>
    </p-table>

  </p-tabPanel>


</p-tabView>

<p-dialog header="Detalle de Manifiesto" [modal]="true" [(visible)]="modalDetalleManifiesto" [style]="{ width: '75rem' }">
        
  <p-table   #dt2 [columns]="cols1" dataKey="idordentrabajo"
  [style]="{width:'100%'}"
  [rowsPerPageOptions]="[20,40]"
  [value]="ordenes"   selectionMode="multiple"
 
  responsive="true"
  [rows]="20"  >



  <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
          <col *ngFor="let col of columns"   [ngStyle]="{'width': col.width}" >
      </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
      <tr>

          <th  [ngStyle]="{'width': col.width}" *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
              {{col.header}}
          </th>
      </tr>
  </ng-template>



  <ng-template pTemplate="body" let-rowData    let-columns="columns">
  <tr [pSelectableRow]="rowData">

  <td class="ui-resizable-column" style="text-align:left;" > {{ rowData.numCp    }}   </td>

  <td class="ui-resizable-column" style="text-align:center;"> {{rowData.fechaRegistro | date: 'dd/MM/yyyy HH:mm' }}</td>
 
  <td class="ui-resizable-column" style="text-align:center;"> {{rowData.destino }}</td>
  <td class="ui-resizable-column" style="text-align:center;"> {{rowData.cliente }}</td>
  <td class="ui-resizable-column" style="text-align:center;"> {{rowData.estado }}</td>
  <td class="ui-resizable-column" style="text-align:center;"> {{rowData.tipoOperacion }}</td>
  <td class="ui-resizable-column" style="text-align:left;"> {{rowData.bulto }} </td>
  <td class="ui-resizable-column" style="text-align:center;"> {{rowData.peso }}</td>
  <td class="ui-resizable-column" style="text-align:center;"> 

      <p-button icon="pi pi-paperclip" severity="warning" (click)="verOt(rowData.idOrdenTrabajo)" size="small" ></p-button>
  </td>




  </tr>
  </ng-template>


  </p-table>
</p-dialog>


<p-toast />