.word-wrap {
    white-space: normal; /* Permitir saltos de línea */
    word-wrap: break-word; /* Romper palabras largas */
  }
  
  .text-wrap {
    overflow-wrap: break-word; /* Romper palabras largas */
  }

  .custom-timeline .p-timeline-event-opposite,
  .custom-timeline .p-timeline-event-content {
      margin-bottom: 0.5rem; /* Ajusta la separación vertical */
  }
  
  .custom-timeline .p-timeline-event {
      margin-left: 1rem; /* Reduce la separación horizontal si es necesario */
      margin-right: 1rem; /* Reduce la separación horizontal si es necesario */
  }
  
  .custom-timeline .p-timeline-event-connector {
      height: 120px; /* Reduce la altura de los conectores entre eventos */
  }
  
  .custom-dataview .ui-dataview-list {
    margin: 0;
    padding: 0;
  }
  
  .custom-dataview .ui-dataview-list-item {
    margin-bottom: 10px;
  }
  
  .custom-dataview .ui-dataview-content {
    background-color: #f9fafb; /* Fondo suave */
    border-radius: 5px;
    padding: 15px;
  }
  
  .custom-dataview .ui-dataview-header, .custom-dataview .ui-dataview-footer {
    background-color: #007bff; /* Color azul */
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
  }
  